.todo-app {
  width: 40%;
  height: 700px;
  margin: 200px auto;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 0 4rem;
  box-sizing: border-box;
  .header {
    padding: 1rem 0;
    h1 {
      font-size: 36px;
    }
  }
  .new-todo {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 1rem 1rem;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
  }
  .main {
    position: relative;
    width: 100%;
    .toggle-all-box {
      float: right;
      vertical-align: middle;
      padding: 6px 6px 20px 0;
      color: rgb(120, 187, 120);
      .toggle-all {
        margin: 5px;
        vertical-align: bottom;
      }
    }
    .todo-list {
      width: 100%;
      padding: 8px 40px;
      // background: saddlebrown;
      box-sizing: border-box;
      text-align: left;
      .todo-item {
        width: 100%;
        position: relative;
        padding: 8px 0 0;
        display: flex;
        align-items: center;
        .toggle {
          margin-right: 8px;
        }
        .delete-todo {
          position: absolute;
          right: 0px;
        }
        .edit-todo {
          box-sizing: border-box;
          padding: 8px 0;
          appearance: none;
          border: none;
          outline: none;
          font-size: 14px;
          color: #999;
        }
        .todo-title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 80%;
          display: inline-block;
        }
      }
    }
  }
  .footer {
    width: 100%;
    height: 40px;
    margin-top: 3rem;
    border-top: 1px solid #ccc;
    padding: 1rem 20px;
    box-sizing: border-box;
    .filters {
      display: flex;
      justify-content: space-between;
      li {
        font-size: 22px;
        a {
          color: #ddd;
          &.selected {
            color: rgb(121, 141, 80);
          }
        }
      }
    }
    .hints {
      width: 100%;
      text-align: left;
      font-size: 9px;
      margin: 2rem 0;
      color: darksalmon;
      .hint {
        font-size: 75%;
        font-weight: 300;
        padding: 4px 8px;
      }
    }
  }
}

.pink-color {
  color: #ffc0cb;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  min-width: 1226px;
}
